*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
	text-decoration: none;
}

.header-section{
  width: 100%;
  background: url("../images/banner.png") center top no-repeat;
  background-size: cover;
  /*height: 100vh;*/
}
.header-section .main-menu{
	width: 100%;
}
.header-section .main-menu .bg-light{
   background: transparent !important;
}

.header-section .main-menu .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0px 0px 15px;
}
.header-section .main-menu .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   
    color: #fff;
    background: url(../images/mh.png) center bottom no-repeat;
}
.header-section .main-menu .navbar-light .navbar-nav .nav-link:hover, 
.header-section .main-menu .navbar-light .navbar-nav .nav-link:focus{
	color: #fff;
	background: url(../images/mh.png) center bottom no-repeat;
} 
.header-section .banner-section{
	width: 100%;
	padding: 120px 0px;
}
.banner-section h5{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 30px;
	color: #008ed6;
	letter-spacing: 3px;
}
.banner-section h1{
	font-size: 42px;
	font-weight: 600;
	line-height: 45px;
	color:  #fff;
	margin-bottom: 20px;
}
.banner-section p{
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	color: #999;
}
.inner-btn{
	width: 100%;
	margin-top: 40px;
}
.inner-btn .btn-primary{
	padding: 12px 28px;
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 600;
	color: #fff;
	background: #008ed6;
	border: 1px solid #008ed6;
	transition: 1s;
}
.inner-btn .btn-primary:hover, .inner-btn .btn-primary:focus{
	color: #008ed6;
	background: transparent;
	border: 1px solid #008ed6;
}
.inner-btn .btn-light{
	margin-left: 10px;
	padding: 12px 28px;
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 600;
	color: #fff;
	background: transparent;
	border: 1px solid #008ed6;
	transition: 1s;
}
.inner-btn .btn-light:hover, .inner-btn .btn-light:focus{
	color: #fff;
	background: #008ed6;
	border: 1px solid #008ed6;
}
.title h5{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 30px;
	color: #008ed6;
	letter-spacing: 3px;
}
.title h1{
	font-size: 42px;
	font-weight: 600;
	line-height: 45px;
	color:  #000;
	margin-bottom: 20px;
}
.feature .inner-feature{
	width: 100%;
	padding: 20px 20px;
	text-align: center;
}
.icon-box{
	width: 100%;
	padding: 15px 0px;
}
.icon-box .fa{
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: ;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 50%;
	color: #008ed6;
    font-size: 28px;
}
.inner-feature h4{
	font-size: 22px;
	font-weight: 600;
	line-height: 30px;
	color: #000;
}
.inner-feature p{
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #999;
}
.about-beauty{
	width: 100%;
	padding: 80px 0px;
	border-top: 1px solid #eee;
}
.about-beauty .title{
	margin: 40px 0px 25px;
}
.about-beauty .contntt{
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #999;
}
.about-beauty .list-parah{
    font-size: 14px;
	font-weight: 600;
	line-height: 30px;
	color: #000;
}
.about-beauty .list-parah img{
  margin-right: 10px;
}